
    #main {
    	
        
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-weight: bold;
        font-family: 'Nanum Barun Gothic', sans-serif;
    }

    #main h2 {
        position: relative;
        width: 200px;
        margin: 0 auto;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Nanum Barun Gothic', sans-serif;
        text-align: center;
        margin-top: 40px;
   }
   #main h2::before {
    content: "";
    position: absolute;
    left: 36px;
    top: -14px;
    border-top: 5px solid #000;
    width: 126px;
   }

   #main>div.center {
    width: 200px;
   
    text-align: center;
   }

   #main>div.center>p {
       margin-top: 8px;
       color: #9c9c9c;
       font-size: 23px;
       margin-bottom: 50px;
       letter-spacing: 4px;
   }

   /* agree */
   #main>div.agree {
       width: 1500px;
    font-weight: 300;
    font-size: 16px;
    margin-left: 40px;
   }
   #main>div.agree>p {
      margin-bottom: 25px;
    font-weight: bold;
    /* text-align: center; */
    font-size: 17px;
    line-height: 25px;
   }
   #main>div.agree>div.right {
       text-align: right;
       font-size: 14px;
   }
   #main>div.agree>div.right>input {
       width: 15px;
    height: 15px;
       vertical-align: middle;
   }
   #main>div.agree>div.right>label {
    vertical-align: middle;
    font-weight: bold;
    color: #007bc1;
   }

   /* 온라인 이용약관 */
   #main>div.agree>div.on_agree {
       position: relative;
     
   }
   /* 제목 */
   #main>div.agree>div.on_agree>h3 {
    position: absolute;
    left: 35px;
    top: -16px;
    font-weight: bold;
    width: 250px;
    height: 35px;
    background: #007bc1;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
   }
   /* 박스 */
   #main>div.agree>div.on_agree>div.on_agree_con {
    padding: 35px;
    border: 3px solid #007bc1;
    height: 90px;
    overflow-y: scroll;
   }
 #main>div.agree>div.on_agree>div.on_agree_con>h3 {
 	font-weight: bold;
 	margin-right: 10px;
 	font-size: 18px;
 }
 #main>div.agree>div.on_agree>div.on_agree_con>p {
 	font-size: 14px;
 	line-height: 22px;
 }
   #main>div.agree>div.on_agree>div.on_agree_con>h4 {
   	margin-bottom: 14px;
    margin-top: 22px;  
    font-weight: bold;
   }
   #main>div.agree>div.on_agree>div.on_agree_con>h4>span {
   	font-weight: 300;
   	display: block;
   	margin-left: 10px;
   	margin-top: 14px;
   }
   p.spac {
   	height: 30px;
   }
   p.spc01 {
   	height: 25px;
   }
   #main>div.agree>div.on_agree>div.on_agree_con>ol {
    margin: 0 auto;
    width: 94%;
    
   }
   #main>div.agree>div.on_agree>div.on_agree_con>ol>li {
       margin-top: 14px;
       line-height: 20px;
       font-size: 14px;
   }

   /* 개인정보 수집동의 */
   #main>div.agree>div.per_info {
    position: relative;
  
}
    /* 제목 */
    #main>div.agree>div.per_info>h3 {
        position: absolute;
        left: 35px;
        top: -16px;
        font-weight: bold;
        width: 250px;
        height: 35px;
        background: #007bc1;
        color: #fff;
        border-radius: 5px;
        text-align: center;
        line-height: 35px;
    }

    #main>div.agree>div.per_info>div.per_info_con {
        margin-top: 45px;
        padding: 35px;
        border: 3px solid #007bc1;
        height: 90px;
        overflow-y: scroll;
    }
    #main>div.agree>div.per_info>div.per_info_con>h4 {
    	margin-top: 40px;
    	margin-bottom: 25px;
    }
    #main>div.agree>div.per_info>div.per_info_con>p {
        margin-top: 12px;
        margin-bottom: 12px;
        line-height: 22px;
        font-size: 14px;
    }
    #main>div.agree>div.per_info>div.per_info_con>p>span {
        font-weight: bold;

    }
    #main>div.agree>div.per_info>div.per_info_con>h4 {
    	font-weight: bold;
    }
    #main>div.agree>div.per_info>div.per_info_con>ul>li {
    	line-height: 20px;
    	line-height: 25px;
    font-size: 14px;
    text-indent: 25px;
    }
    
   /*가입 버튼*/
    #main>div.agree>div.button {
        display: flex;
        justify-content: space-around;
    }
    #main>div.agree>div.button>button {
    flex: 0 1 20%;
    color: #fff;
    height: 45px;
    margin-top: 18px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #777;
    font-size: 14px;
}
#main>div.agree>div.button>button>a {
	text-decoration: none;
	color: #fff;
}



  #main>div.agree>ul.join_ex {
  	display: flex;
  	justify-content: space-between;
  	margin-top: 30px;
  }
  #main>div.agree>ul.join_ex>li {
  	flex: 0 1 30%;
  	border: 1px solid #777;
  	border-radius: 5px;
  	padding: 1.2%;
  	text-align: center;
  }
  #main>div.agree>ul.join_ex>li>i {
  	font-size: 36px;
    color: #007bc1;
    margin-top: 27px;
  }
  #main>div.agree>ul.join_ex>li>h4 {
  	font-size: 18px;
    font-weight: bold;
    color: #007bc1;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  #main>div.agree>ul.join_ex>li>p {
  	font-size: 0.8vw;
  	line-height: 1.6vw;
  	color: #595959;
  	text-align: left;
  }
  #main>div.agree>ul.join_ex>li>p:nth-child(2) {
  	margin-top: 1vw;
  }
  #main>div.agree>ul.join_ex>li>button {
  	   
    flex: 0 1 20%;
    color: #fff;
    height: 45px;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #007bc1;
    font-size: 14px;
    width: 275px;
}
#main>div.agree>ul.join_ex>li>button>a {
	text-decoration: none;
	color: #fff;
}


  #main>div.agree>p.button_join {
  	position: relative;
  	margin-top: 5vw;
  }
  #main>div.agree>p.button_join>span {
  	position: absolute;
    left: 16vw;
    top: 5.3vw;
    font-size: 1.6vw;
    display: block;
    width: 65%;
    letter-spacing: -2px;
    text-align: left;
    line-height: 2.2vw;
  }
  #main>div.agree>p.button_join>span>a {
  	text-decoration: none;
  	color: #007bc1;
  }
  #main>div.agree>p.button_join>img {
  	width: 100%;
  }

